//Colors

$yellow: #FFD300;
$turquoise: #04A8BC;
$darkBlue: #295B96;

//Fonts

$poppins-regular: 'Poppins-regular', Helvetica, sans-serif;
$poppins-bold: 'Poppins-Bold', Helvetica, sans-serif;
$poppins-Semibold: 'Poppins-Semibold', Helvetica, sans-serif;
$poppins-italic: 'Poppins-italic', Helvetica, sans-serif;

//Screens

$medium-screen: 925px;
$wide-screen: 1024px;


